body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(235, 199, 152);
}

.light-bulb-container {
    position: absolute;
    margin-left: -145px;
    margin-top: 370px;
    border: solid 2px white;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    font-size: 13px;
    background-color: rgb(93, 93, 95);
    

}


button:hover {
    background-color: #3a3124;
    border: solid 2px #14110d;
    color: rgb(240, 207, 165);

}

